<!-- Portfolio Section -->
<section id="portfolio-section">
    <div class="container">
        <h2 class="article-title">Portfolio</h2>
        <div class="portfolio-section">
            <div class="card">
                <figure>
                    <img src="img/Img1.jpg" alt="">
                </figure>
                <p>Money Project #1</p>
            </div>
            <div class="card">
                <figure>
                    <img src="img/Img2.jpg" alt="">
                </figure>
                <p>Money Project #2</p>
            </div>
            <div class="card">
                <figure>
                    <img src="img/Img3.jpg" alt="">
                </figure>
                <p>GMO Project #3</p>
            </div>
            <div class="card">
                <figure>
                    <img src="img/Img4.jpg" alt="">
                </figure>
                <p>GMO Project #4</p>
            </div>
            <div class="card">
                <figure>
                    <img src="img/Img5.jpg" alt="">
                </figure>
                <p>Future Project #5</p>
            </div>
            <div class="card">
                <figure>
                    <img src="img/Img6.jpg" alt="">
                </figure>
                <p>Future Project #6</p>
            </div>
        </div>
    </div>
  </section>